@model List<Website.Entities.WorkTime>

<link rel="stylesheet" href="~/css/table.css" />
<div class="main-box p-3 mb-3 d-flex">
    <div class="me-4 fs-3">
        <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
    </div>
    <h2>Individual Report - <strong>@DateTime.Parse(ViewBag.StartDate).ToString("MMMM yyyy")</strong> - @ViewBag.UserName</h2>
</div>

<div class="main-box p-5 mb-3">
    <h3>Summary</h3>
    <table class="table">
        <thead>
            <tr class="fw-bold">
                <td scope="col">Total hours</td>
                <td scope="col">Earning</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.TotalHours</td>
                <td>@ViewBag.Earnings.ToString("N2")</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="main-box p-5">
    <h3>Details</h3>
    <table class="table">
        <thead>
            <tr class="fw-bold">
                <td scope="col">Date</td>
                <td scope="col">Working Hours</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var workTime in Model)
            {
                <tr>
                    <td>@workTime.WorkingDay.ToShortDateString()</td>
                    <td>@workTime.WorkingHours</td>
                </tr>
            }
        </tbody>
    </table>
</div>
