@model List<Website.Entities.WorkTime>

<h2>Individual Report - @DateTime.Parse(ViewBag.StartDate).ToString("MMMM yyyy") - @ViewBag.UserName</h2>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Working Hours</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workTime in Model)
        {
            <tr>
                <td>@workTime.WorkingDay.ToShortDateString()</td>
                <td>@workTime.WorkingHours</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end"><strong>Total hours:</strong></td>
            <td><strong>@ViewBag.TotalHours</strong></td>
        </tr>
        <tr>
            <td class="text-end"><strong>Earnings:</strong></td>
            <td><strong>@ViewBag.Earnings.ToString("N2")</strong></td>
        </tr>
    </tfoot>
</table>