@model List<UserWorkSummary>
<link rel="stylesheet" href="~/css/table.css" />

<div class="main-box p-3 mb-3 d-flex justify-content-between">
    <div class=" d-flex">
        <div class="me-4 fs-3">
            <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
        </div>
        <h2>Summary Report - <strong>@DateTime.Parse(ViewBag.StartDate).ToString("MMMM yyyy")</strong></h2>
    </div>
    <form asp-action="GenerateSummaryReport" method="get" style=" margin-top: 4px">
        <div class="input-group">
            <input type="text" name="searchName" class="form-control me-1" placeholder="Name...">
            <input type="text" name="searchLastname" class="form-control me-3" placeholder="Lastname...">
            <input type="hidden" name="summaryMonth" value=@ViewBag.StartDate1 />
            <button type="submit" class="btn-gradient nav-link border-solid">Search</button>
        </div>
    </form>
</div>

<div class="main-box p-5 mb-3">
    <table class="table">
        <thead>
            <tr class="fw-bold">
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Total Hours</th>
                <th scope="col">Earnings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Name</td>
                    <td>@entry.Lastname</td>
                    <td>@entry.TotalHours</td>
                    <td>@entry.Earnings.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

