@model IEnumerable<Website.Entities.Employment>

@{
    ViewData["Title"] = "Employments";
}

<link rel="stylesheet" href="~/css/table.css" />

<div class="d-flex justify-content-between main-box p-3 mb-3">
    <h1>Employments</h1>
    <a asp-action="GroupAction" class="btn-gradient nav-link pt-3">Rate Increase/Decrease</a>
</div>

<div class="main-box p-4 main-box-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="bg-light">
                            Employment date
                        </th>

                        <th scope="col" class="">
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th scope="col" class="bg-light">
                            @Html.DisplayNameFor(model => model.Manager)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        <th scope="col" class="bg-light">
                            @Html.DisplayNameFor(model => model.Rate)
                        </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="bg-light">
                                @{
                                    string formattedDate = item.EmploymentDate.ToShortDateString();
                                }
                                @formattedDate
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.User.Name)
                                @Html.DisplayFor(modelItem => item.User.LastName)
                            </td>
                            <td class="bg-light">
                                @Html.DisplayFor(modelItem => item.Manager.Name)
                                @Html.DisplayFor(modelItem => item.Manager.LastName)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Position.Name)
                            </td>
                            <td class="bg-light">
                                    @Html.DisplayFor(modelItem => item.Rate)
                            </td>
                            <td>
                                <div class="d-flex flex-wrap">
                                    <a asp-action="Details" class="btn btn-outline-primary me-2" asp-route-id="@item.Id"><i class="far fa-eye"></i> Details</a>
                                    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
