@model Tuple<Website.Entities.User, Website.Entities.LoginData>

@{
    ViewData["Title"] = "Details";
}


<div class=" position-absolute main-box p-5 top-50 start-50 translate-middle">
    <h1 class="text-center mt-5 mb-5">Details user</h1>
    <div class="d-flex">
        <div class="fw-bold pe-5">
            <p>@Html.DisplayNameFor(model => model.Item2.Login)</p>
            <p>@Html.DisplayNameFor(model => model.Item1.Name)</p>
            <p>Last name</p>
            <p>@Html.DisplayNameFor(model => model.Item1.Email)</p>
        </div>
        <div>
            <p>@Html.DisplayFor(model => model.Item2.Login)</p>
            <p>@Html.DisplayFor(model => model.Item1.Name)</p>
            <p>@Html.DisplayFor(model => model.Item1.LastName)</p>
            <p>@Html.DisplayFor(model => model.Item1.Email)</p>
        </div>
        
    </div>


    <div class=" d-flex form-group mt-2" >
        <div class="me-2 fs-3">
            <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
        </div>
        <a asp-action="Edit" class="btn-gradient flex-fill p-2" asp-route-id="@Model?.Item1.Id">Edit</a>
    </div>

 
</div>
