@model List<Tuple<Website.Entities.User, Website.Entities.LoginData, Website.Entities.Role>>

@{
    ViewData["Title"] = "Users";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item2.Login</td>
                <td>@item.Item1.Name</td>
                <td>@item.Item1.LastName</td>
                <td>@item.Item1.Email</td>
                <td>@item.Item3.Name</td>
                <td>
                    <a asp-action="ChangeRole" asp-route-id="@item.Item1.Id">Change role</a> |
                    <a asp-action="ChangeLogin" asp-route-id="@item.Item1.Id">Change login</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Item1.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Item1.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Item1.Id">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
