@model List<Tuple<Website.Entities.User, Website.Entities.LoginData, Website.Entities.Role>>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="~/css/table.css" />
<div class="d-flex justify-content-between align-items-center">
    <h1>Users</h1>
        <form asp-action="Index" method="get" style=" margin-top: 4px">
            <div class="input-group">
                <input type="text" name="searchName" class="form-control" placeholder="Name..." >
                <input type="text" name="searchLastname" class="form-control" placeholder="Lastname..." >
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    <a asp-action="Create" class="btn btn-success" style="width: 20%">Create New User</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Login</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Change</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Item2.Login</td>
                            <td>@item.Item1.Name</td>
                            <td>@item.Item1.LastName</td>
                            <td>@item.Item1.Email</td>
                            <td>@item.Item3.Name</td>
                            <td>
                                <div class="button-container">
                                    <a asp-action="ChangeAdmin" class="btn btn-outline-secondary" asp-route-id="@item.Item1.Id"><i class="fa-solid fa-user-secret"></i> Admin</a>
                                    <a asp-action="ChangeRole" class="btn btn-outline-secondary" asp-route-id="@item.Item1.Id"><i class="fas fa-user-tie"></i> Role</a>
                                    <a asp-action="ChangeLogin" class="btn btn-outline-secondary" asp-route-id="@item.Item1.Id"><i class="fas fa-user-edit"></i> Login</a>
                                </div>
                            </td>
                            <td>
                                <div class="button-container">
                                    <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@item.Item1.Id"><i class="far fa-eye"></i> Details</a>
                                    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Item1.Id"><i class="fas fa-edit"></i> Edit</a>
                                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Item1.Id"><i class="far fa-trash-alt"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
