@model IEnumerable<Website.Models.Approve>
@{
    ViewData["Title"] = "All applications";
}

<h1>All applications</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                    @Html.DisplayFor(modelItem => item.User.LastName)

                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Application.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <div class="button-container">

                        <a asp-action="Accept" class="btn btn-outline-success" asp-route-id="@item.Application.Id" class="btn btn-outline-success"><i class="fas fa-check"></i> Accept</a>
                        <a asp-action="Reject" class="btn btn-outline-danger" asp-route-id="@item.Application.Id" class="btn btn-outline-danger"><i class="fas fa-times"></i> Reject</a>
                    </div>
                </td>
                
            </tr>
        }
    </tbody>
</table>

