@model IEnumerable<Website.Models.Approve>
@{
    ViewData["Title"] = "Archives";
}
<link rel="stylesheet" href="~/css/table.css" />
<div class="main-box p-3 mb-3">
    <h1>Archives</h1>
</div>
<div class="main-box p-3">

    <table class="table">
        <thead>
            <tr>
                <th class="bg-light">User Name</th>
                <th>Start Date</th>
                <th class="bg-light">End Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="bg-light">
                        @Html.DisplayFor(modelItem => item.User.Name)
                        @Html.DisplayFor(modelItem => item.User.LastName)
    
                    </td>  
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.StartDate)
                    </td>
                    <td class="bg-light">
                        @Html.DisplayFor(modelItem => item.Application.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

</div>
