@model IEnumerable<Website.Models.Approve>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/table.css" />

<div class="main-box p-3 mb-3">
<h1>Approval of applications</h1>
</div>
<div class="main-box p-3 main-box-table">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                        @Html.DisplayFor(modelItem => item.User.LastName)
    
                    </td>  
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
    
                        <a asp-action="Accept" class="btn btn-outline-success me-1" asp-route-id="@item.Application.Id" class="btn btn-outline-success"><i class="fas fa-check"></i> Accept</a> 
                        <a asp-action="Reject" class="btn btn-outline-danger" asp-route-id="@item.Application.Id" class="btn btn-outline-danger"><i class="fas fa-times"></i> Reject</a>
                        </div>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

